body {
    font-family: Arial, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: plum;
    border: 1px solid purple;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: lightblue;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}

p {
    margin: 5px 0;
}