.con {
    background-color: rgb(117, 116, 116);
    margin-top: 15px;
    color: white;
}

.nav-link {
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px;
}

.card {
    color: black
}

.nav-item {
    padding-left: 8px;
}

.btn {
    height: 20%;
    width: 20%;
    margin: 15px;
}

ul li::marker {
    color: red;
}
.card-text {
    margin: 10px;
    text-align: justify;
}