.container {
    width: 90%;
    background-color: white;
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
    color: blue;
    margin: 20px;
}

.birdTypes {
    text-align: center;
}

a {
    color: white;
}

.card {
    text-align: justify;
    padding: 10px;
    margin: 20px;
}

.navbar {
    background-color: blue;
}

.row {
    background-color: blue;
}
